<div class="grid">
	<div class="row">
		<div class="col-md-4 col-md-offset-1" style="padding: 0px;">
			<img class="headshot-img" src=<%= @images[0] %>>
			<br />
			<img class="headshot-img" src=<%= @images[1] %>>
			<br />
			<img class="headshot-img" src=<%= @images[2] %>>
		</div>
		<div class="about col-md-6 col-md-1-offset col-sm-1-offset">
			<h4 class='about'> What I’m about: </h4>
			<br />
			<ul>
				<li> I am a big picture person with a positive outlook on life. </li>
				<li> I value spontaneity and try to live in the present. </li>
				<li> I am an extravert, curious, creative, imaginative. </li>
				<li> I love to inspire others to achieve their dreams and live life to the fullest. </li>
				<li> Photography is my passion and 4-ever love. </li>
				<li> I love interior design, beach houses with turquoise and coral decor, alpine lakes, meadows in the spring, lighthouses in Maine, romantic picnics instead of a fancy restaurant, I find the beauty of the city in small alleys, enjoying a family supper on the porch, evening walks. </li>
				<li> I believe anything is possible. </li>
			</ul>
			<br />
			<h4 class='about'> Some fun facts: </h4>
			<br />
			<ul>
				<li> I am a small town girl who was born and raised in the Republic of Belarus. </li> 
				<li> I made America my home in 2003 when i came here for college majoring in History. Having moved to the USA by myself at such an early age has made me a strong person and I now know how to turn life’s lemons into lemonade. </li>
				<li> I am a busy mom of 2 - a girl and a boy. I love photographing them everyday to capture life’s treasured moments and I hope to pass on my passion for photography to them one-day! </li>
				<li> I have been an Airbnb superhost for the past couple of years. </li>
				<li> Recently got a piano. Spent 7 years of my life going to a musical school, now its time to pass the skill to my 3 year old. </li>
				<li> Teaching myself German </li>
				<li> My family loves to travel be it in the country or across the ocean. I plan to add a travel section on my site featuring photos from my latest travels. </li>
				<li> I love organizing and getting rid of clutter around the house. I believe that in order to have a clear mind and ability to focus, it is important to have a 100% clutter free house. Easier said than done! </li>
				<li> I love cooking and having guests! </li>
			</ul>
			<br />
			<br />
		</div>
	</div>
	<br />
</div>