<div class="row">
	<div class="medium-8 columns content">
	<br>
		<p>
			Should I write something here?
			<br />
			<br />
			Blah, blah blah ...
		</p>
		<ul class="menu">
			<li><a href="https://www.flickr.com/photos/135383235@N03">My flickr page</a></li>
		</ul>
	</div>

	<div class="medium-4 columns text-center">
		<br />
		<img class="thumbnail" src='img/headshot.png'>
	</div>
</div>
<br class="clear" />
<br />
<br />