<div class="row">
	<div class="medium-4 columns text-center">
		<br />
		<img class="thumbnail" src='img/headshot.png'>
	</div>

	<div class="medium-8 columns content">
		<h1>About Alena</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla.
			<br />
			<br />
			In her free time, Alena enjoys ...
		</p>
	</div>
</div>
<br class="clear" />
<br />
<br />