<% if notice == 'success'
	alert_type = 'success'
	alert_text = 'Thank you, your message has been sent!'
elsif notice == 'failure'
	alert_type = 'danger'
	alert_text = 'Sorry, your message could not be sent.'
end %>
<div class="alert alert-<%=alert_type%> text-center" role="alert">
	<%= alert_text %>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>