<div id='carousel' class='carousel slide carousel-fade'>
  <div class='carousel-inner' role='listbox'>
  	<%= erb :images, locals: {type: :carousel}, layout: false %>
  </div>
  <% if controls %>
	  <div class='left carousel-control' href='#carousel' data-slide='prev'>
	    <span class='glyphicon glyphicon-chevron-left' role='button' aria-hidden='true'></span>
	  </div>
	  <div class='right carousel-control' href='#carousel' data-slide='next'>
	    <span class='glyphicon glyphicon-chevron-right' role='button' aria-hidden='true'></span>
	  </div>
  <% end %>
</div>