<div class="medium-6 columns content">
	<h3>Contact Me</h3>
	<p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor.</p>
	<ul class="menu">
		<li><a href="https://www.flickr.com/photos/135383235@N03">Flickr</a></li>
	</ul>
	</div>
	<div class="medium-6 columns content">
	<label>Name
	<input type="text" placeholder="Name">
	</label>
	<label>Email
	<input type="text" placeholder="Email">
	</label>
	<label>Message
	<textarea placeholder="holla at me"></textarea>
	</label>
	<button class="button expanded">Submit</a>
</div>