<div class='grid'>
	<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-body"></div>
	  </div>
	</div>
	<div class="about col-md-6 col-md-offset-1">
		<form>
		  <div class="form-group">
		  	<label for="name">Name</label>
	  		<input type="text" class="form-control" name="name" placeholder="Your name">
	  		<br />
	  		<label for="email">Email</label>
	  		<input type="email" class="form-control" name="email" placeholder="Your email">
				<br />
				<label for="message">Message</label>
			  <textarea class="form-control" name="message" placeholder="Say hello!" rows="7"></textarea>
			</div>
		  <button type="submit" class="btn btn-primary">Send Message</button>
		</form>
	</div>
	<script>
		$('form').on('submit', function(e) {
			$.post({
				url: window.location.pathname,
				dataType: 'html',
				data: $(this).serialize(),
				success: function(data) {
					$('.modal-body').html(data);
					$('.modal').modal('show');
				}
			})
			e.preventDefault();
		})
	</script>
</div>