<% if locals.has_key?(:notice) %>
	<div data-alert class="medium-12 columns text-center alert-box <%=notice%>">
  	<% if notice == 'success' %>
  		Thank you for your message!
  	<% elsif notice == 'failure' %>
  		Your message could not be sent.
		<% end %>
  	<a href="/contact" class="close">&times;</a>
	</div>
<% end %>
<div class="medium-6 columns content">
	<h3>Contact Me</h3>
	<p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor.</p>
	<ul class="menu">
		<li><a href="https://www.flickr.com/photos/135383235@N03">Flickr</a></li>
	</ul>
</div>
<div class="medium-6 columns content">
	<form action="/contact" method="post">
		<label for="name">Name
		<input type="text" name="name" placeholder="Name">
		</label>
		<label for="email">Email
		<input type="text" name="email" placeholder="Email">
		</label>
		<label>Message
		<textarea name="message" placeholder="Say hello!"></textarea>
		</label for="message">
		<button type="submit" class="button expanded" value="Send">Submit</button>
	</form>
</div>