<div class='flex-container' style="<%= 'margin-top: 62px' if @is_portfolio_page %>">
  <div class='grid'>
  	<div class='gutter'></div>
  	<%= erb :images, layout: false %>
  </div>
  <% if @is_portfolio_page %>
    <div class='modal fade' tabindex='-1' role='dialog'>
      <div class='modal-dialog'>
        <div class='modal-content'>
        	<%= erb :carousel, layout: false %>
        	<button type='button' class='close' data-dismiss='modal' aria-label='Close'>
        		<span aria-hidden='true'>&times;</span>
      		</button>
    	  </div>
      </div>
    </div>
  <% end %>
</div>
<script type='text/javascript'>
  window.addEventListener('DOMContentLoaded',function () {
    initGrid();
  });
</script>