<% @images.each do |image| %>
	<a class="grid-item" role="button" style="visibility: hidden" href=<%= File.join(@images_dir, image) %>>
			<img src=<%= File.join(@images_dir, image) %>>
	</a>
<% end %>