<div class='grid' style="margin: 0 auto; position: relative;">
	<%= erb :images, :locals => {:type => :grid}, :layout => false %>
</div>
<div class="modal fade bs-modal-lg" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
		    	<%= erb :images, :locals => {:type => :carousel}, :layout => false %>
		    </div>
			  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left"></span>
			  </a>
			  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right"></span>
			  </a>
		  </div>
	  </div>
  </div>
</div>
<script type='text/javascript'>
	// layout Masonry after all images load
	var $grid = $('.grid').imagesLoaded().done( function() {
		$('.grid-item').css('visibility', 'visible');
		// init Masonry
		$grid.masonry({
		  itemSelector: '.grid-item',
		  fitWidth: true,
		  columnWidth: 350,
		  transitionDuration: '0.7s'
		});
	});
	var $carousel = $('#carousel');
	$(document).on('click', '.grid-item > img', function(e) {
		var $current_img_src = $(this).attr('src').replace('thumbnail_','');
		$("img[src='"+$current_img_src+"']").eq(0).parent().addClass('active');
		$('.modal').modal('show');
	})
	$('.modal').on('hidden.bs.modal', function (e) {
		$carousel.carousel('pause');
  	$('.item.active').eq(0).removeClass('active');
	})
	$carousel.on('slid.bs.carousel', function () {
		if($carousel.find('.item').length - 1 == $carousel.find('.item.active').index()) {
			// TO DO: load new images
		}
	})
	$(window).scroll(function() {
		if($(window).scrollTop() + $(window).height() == $(document).height()) {
			$.ajax({
				type: 'GET',
				url: window.location.pathname,
				dataType: 'html',
				data: {type: 'all', marker: $('.grid-item > img').last().attr('src').match(RegExp('thumbnail_.*$'))[0]},
				success: function(data) {
					if(!data.trim() == '') {
						$new_grid_content = $(data).filter("[class~='grid-item']");
						$new_carousel_content = $(data).filter("[class~='item']");
						$grid.append($new_grid_content);
						$('.carousel-inner').append($new_carousel_content);
						$carousel.carousel();
						// layout Masonry after all new images load
						$grid.imagesLoaded().done( function() {
							$('.grid-item').css('visibility', 'visible');
						  $grid.masonry('appended', $new_grid_content);
						});
					}
				}
			})
		}
	});
</script>