<% @images.each do |image| %>
	<% if type == :grid %>
		<div class='grid-item'>
			<img src=<%= image %>>
		</div>
	<% end %>
	<% if type == :carousel %>
		<div class='item carousel-item'>
			<img class='img-fluid' data-src=<%= image %>>
		</div>
	<% end %>
<% end %>