<div class='brand col-md-8 offset-md-2 text-center'>Alena Martens Photography</div>
<%= erb :carousel, layout: false %>
<div class='flex-container'>
	<br />
	<h4 class='text-content' style='font-size: 1.5rem'>
		Alena Martens is a Northern Virginia/Washington D.C. based photographer,<br />specializing in Family, Portrait & Travel Photography.
	</h4>
</div>
<%= erb :images_grid, layout: false %>
<script type='text/javascript'>
	window.addEventListener('DOMContentLoaded',function () {
		const carouselItem = document.querySelector('.carousel-item');
		loadHeroImage(carouselItem, initCarousel.bind(null, carouselItem, 5000));
	});
</script>
