<div class='grid'>
	<%= erb :carousel, layout: false, locals: {controls: false}%>
</div>
<script type='text/javascript'>
	$(document).ready(function() {
		$all_imgs = $('.carousel-item > img');
		$current_img = $all_imgs.eq(Math.floor(Math.random() * $all_imgs.length));
		loadImage($current_img, initCarousel($current_img));
	});
</script>