<div class='brand col-md-8 offset-md-2 text-center'>Alena Martens Photography</div>
<%= erb :carousel, layout: false %>
<div class='flex-container-90'>
	<br />
	<h4 class='text-content' style='font-size: 1.5rem'>
		Alena Martens is a Northern Virginia/Washington D.C. based photographer,<br />specializing in Family, Portrait & Travel Photography.
	</h4>
</div>
<%= erb :images_grid, layout: false %>
<script type='text/javascript'>
	$(document).ready(function() {
		$all_items = $('.carousel-item');
		$current_item = $all_items.eq(0);
		loadHeroImage($current_item, initCarousel($current_item, 5000));
	});
</script>