<%= erb :carousel, layout: false %>
<div class=".col-4 about landing">
	Alena Martens is a Northern Virginia/Washington D.C. based photographer,<br />specializing in Family, Portrait & Travel Photography.
</div>
<script type='text/javascript'>
	$(document).ready(function() {
		$all_items = $('.carousel-item');
		$current_item = $all_items.eq(Math.floor(Math.random() * $all_items.length));
		loadHeroItem($current_item, initCarousel($current_item));
	});
</script>