<div class="row small-up-2 medium-up-3 large-up-4 content">
	<div class="column portfolio-item">
		<a class="thumbnail" role="button" href="/img/full_size_placeholder.png">
			<img src="/img/portfolio_placeholder.png">
		</a>
		<h6 class="text-center">Title</h6>
	</div>
	<div class="column portfolio-item">
		<a class="thumbnail" role="button" href="/img/full_size_placeholder.png">
			<img src="/img/portfolio_placeholder.png">
		</a>
		<h6 class="text-center">Title</h6>
	</div>
	<div class="column portfolio-item">
		<a class="thumbnail" role="button" href="/img/full_size_placeholder.png">
			<img src="/img/portfolio_placeholder.png">
		</a>
		<h6 class="text-center">Title</h6>
	</div>
	<div class="column portfolio-item">
		<a class="thumbnail" role="button" href="/img/full_size_placeholder.png">
			<img src="/img/portfolio_placeholder.png">
		</a>
		<h6 class="text-center">Title</h6>
	</div>
	<div class="column portfolio-item">
		<a class="thumbnail" role="button" href="/img/full_size_placeholder.png">
			<img src="/img/portfolio_placeholder.png">
		</a>
		<h6 class="text-center">Title</h6>
	</div>
	<div class="column portfolio-item">
		<a class="thumbnail" role="button" href="/img/full_size_placeholder.png">
			<img src="/img/portfolio_placeholder.png">
		</a>
		<h6 class="text-center">Title</h6>
	</div>
	<div class="column portfolio-item">
		<a class="thumbnail" role="button" href="/img/full_size_placeholder.png">
			<img src="/img/portfolio_placeholder.png">
		</a>
		<h6 class="text-center">Title</h6>
	</div>
	<div class="column portfolio-item">
		<a class="thumbnail" role="button" href="/img/full_size_placeholder.png">
			<img src="/img/portfolio_placeholder.png">
		</a>
		<h6 class="text-center">Title</h6>
	</div>
	<div class="column portfolio-item">
		<a class="thumbnail" role="button" href="/img/full_size_placeholder.png">
			<img src="/img/portfolio_placeholder.png">
		</a>
		<h6 class="text-center">Title</h6>
	</div>
	<div class="column portfolio-item">
		<a class="thumbnail" role="button" href="/img/full_size_placeholder.png">
			<img src="/img/portfolio_placeholder.png">
		</a>
		<h6 class="text-center">Title</h6>
	</div>
	<div class="column portfolio-item">
		<a class="thumbnail" role="button" href="/img/full_size_placeholder.png">
			<img src="/img/portfolio_placeholder.png">
		</a>
		<h6 class="text-center">Title</h6>
	</div>
	<div class="column portfolio-item">
		<a class="thumbnail" role="button" href="/img/full_size_placeholder.png">
			<img src="/img/portfolio_placeholder.png">
		</a>
		<h6 class="text-center">Title</h6>
	</div>
</div>