<div class="row small-up-2 medium-up-3 large-up-4 content">
	<% @images.each do |image| %>
		<div class="column portfolio-item">
			<a class="thumbnail" role="button" href=<%= File.join(@images_dir, image.key) %>>
				<img src=<%= File.join(@images_dir, image.key) %>>
			</a>
		</div>
	<% end %>
</div>