<div class="grid" style="margin: 0 auto; position: relative;">
	<%= erb :images, :layout => false %>
</div>
<script>
	// layout Masonry after all images load
	var $grid = $('.grid').imagesLoaded().done( function() {
		$('.grid-item').css('visibility', 'visible');
		// init Masonry
		$grid.masonry({
		  itemSelector: '.grid-item',
		  fitWidth: true,
		  transitionDuration: '0.7s'
		});
	});
	$(window).scroll(function() {
		if($(window).scrollTop() + $(window).height() == $(document).height()) {
			$.ajax({
				type: 'GET',
				url: '/portfolio',
				dataType: 'html',
				data: {marker: $('.grid-item').last().attr('href').match(/portfolio\/.*$/)[0]},
				success: function(data) {
					if(!data.trim() == '') {
						var $new_content = $( data );
						$grid.append( $new_content );
						// layout Masonry after all new images load
						$grid.imagesLoaded().done( function() {
							$('.grid-item').css('visibility', 'visible');
						  $grid.masonry( 'appended', $new_content );
						});
					}
				}
			})
		}
	});
</script>