<div class="row small-up-2 medium-up-3 large-up-4 content">
	<div class="column portfolio-item">
		<img class="thumbnail" src="/img/portfolio_placeholder.png">
		<h6 class="text-center">Title</h6>
	</div>
	<div class="column portfolio-item">
		<img class="thumbnail" src="/img/portfolio_placeholder.png">
		<h6 class="text-center">Title</h6>
	</div>
	<div class="column portfolio-item">
		<img class="thumbnail" src="/img/portfolio_placeholder.png">
		<h6 class="text-center">Title</h6>
	</div>
	<div class="column portfolio-item">
		<img class="thumbnail" src="/img/portfolio_placeholder.png">
		<h6 class="text-center">Title</h6>
	</div>
	<div class="column portfolio-item">
		<img class="thumbnail" src="/img/portfolio_placeholder.png">
		<h6 class="text-center">Title</h6>
	</div>
	<div class="column portfolio-item">
		<img class="thumbnail" src="/img/portfolio_placeholder.png">
		<h6 class="text-center">Title</h6>
	</div>
	<div class="column portfolio-item">
		<img class="thumbnail" src="/img/portfolio_placeholder.png">
		<h6 class="text-center">Title</h6>
	</div>
	<div class="column portfolio-item">
		<img class="thumbnail" src="/img/portfolio_placeholder.png">
		<h6 class="text-center">Title</h6>
	</div>
	<div class="column portfolio-item">
		<img class="thumbnail" src="/img/portfolio_placeholder.png">
		<h6 class="text-center">Title</h6>
	</div>
	<div class="column portfolio-item">
		<img class="thumbnail" src="/img/portfolio_placeholder.png">
		<h6 class="text-center">Title</h6>
	</div>
	<div class="column portfolio-item">
		<img class="thumbnail" src="/img/portfolio_placeholder.png">
		<h6 class="text-center">Title</h6>
	</div>
	<div class="column portfolio-item">
		<img class="thumbnail" src="/img/portfolio_placeholder.png">
		<h6 class="text-center">Title</h6>
	</div>
</div>