<div class="grid">
	<div class="pricing col-md-6 col-md-offset-3 text-justify">
		<h3 class='pricing'>2017 Pricing</h3>
		<br />
		<p>
			Families are my specialty! There is nothing that takes my breath away more than making beautiful family images for you to keep. 
			My session price is all-inclusive, which means you will receive all fully-edited, digital images which typically result in at least 50 images.
			I select images myself and hand edit all of them. I usually finish images within 2 weeks.  
			March through October are popular months so please book sessions 1-2 months in advance.
		</p>
		<br />
		<h4 class='pricing'>Family session $150</h4>
		<p>
			<strong>1 hour session</strong>, but if we need more time, it’s totally fine.
			Family session can be done either outside at a local park or a place in the city of your choice.
			What is meaningful for you and your family? Or we can also do a lifestyle session in your home. 
		</p>
		<br />
		<h4>Maternity session $175</h4>
		<p>
			<strong>1.5 hour session.</strong> Maternity is such a special time in your life and you should absolutely capture these precious moments for you and your kids.
			My maternity sessions include sibling, parent and family portraits as well. 
		</p>
		<br />
		<h4 class='pricing'>Engagement session $200</h4>
		<p>
			<strong>1.5 hour session.</strong> All engagements are unique just as you are. How did it all begin?
			In the engagement session we will capture your love, your energy, personality.
			I would love to send you more information about my sessions or answer any of your questions. 
			Send me a message today to find out more.
		</p>
	</div>
</div>