<div class='pricing col-md-6 col-md-offset-3 text-justify'>
	<h4 class='pricing'>Family/children photography package - $300</h4>
	<ul>
		<li>up to 1.5 hour session</li>
		<li>20 high resolution, artistically edited images with printing rights - delivered via digital download</li>
		<li>three complimentary 8 x 10 prints of your choice</li>
		<li>50% of the fee is required at the time of booking to secure your session date</li>
	</ul>
	<h4 class='pricing'>Maternity photography package - $300</h4>
	<ul>
		<li>up to 1 hour session (1-2 outfits)</li>
		<li>20 high resolution, artistically edited images with printing rights - delivered via digital download</li>
		<li>three complimentary 8 x 10 prints of your choice</li>
		<li>50% of the fee is required at the time of booking to secure your session date</li> 
	</ul>
</div>