.navbar {
  text-align: center;
  background: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
  border: none;
}
.navbar-brand {
  float: none;
  display: block;
  letter-spacing: 4px;
  font-family: 'Times New Roman';
  font-size: 35px;
  color: #3C4242;
  padding: 15px 5px;
}
.navbar-brand:hover {
  color: inherit;
}
.navbar-nav {
  float: none;
}
.nav li {
  display: inline-block;
  float: none;
}
.nav li > a {
  color: #3C4242;
  font-family: 'Times New Roman';
  letter-spacing: 4px;
}
.nav li > a:hover {
  color: #F545B4;
  background: none;
}
.nav li > a.active {
  color: #F545B4;
}
.grid {
  margin: 0 auto;
  position: relative;
  padding-top: 116px;
}
.grid-item {
  display: block;
  width: 350px;
  height: auto;
  padding: 0px;
  border: none;
  margin-bottom: 16px;
}
.grid-item:hover {
  opacity: 0.9;
  border: 1px solid #828282;
  border-radius: 0;
}
.modal-dialog {
  width: 95%;
  max-height: 90%;
  margin: 0.025rem, auto;
}
.item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.modal-backdrop {
  opacity: 1 !important;
}
.modal-content {
  background-color: black;
}
.carousel-control {
  width: 5%;
}