body {
  padding-top: 130px;
}
.navbar {
  text-align: center;
  background: #fff;
  text-transform: uppercase;
}
.navbar-brand {
  float: none;
  display: block;
  letter-spacing: 4px;
  font-family: 'Times New Roman';
  font-size: 35px;
  color: #3C4242;
}
.navbar-brand:hover {
  color: inherit;
}
.navbar-nav {
  float: none;
}
.nav li {
  display: inline-block;
  float: none;
}
.nav li>a {
  color: #3C4242 !important;
  font-family: 'Times New Roman';
  letter-spacing: 4px;
}
.grid-item {
  display: block;
  width: 350px;
  height: auto;
  padding: 8px;
  border: none;
  margin: 0;
}
.modal-dialog {
  height: 90% !important;
}