.header {
  text-align: center;
  background-color: #292c2f;
  background-size: cover;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
}
.header .brand {
  color: #B1F2EF;
  font-size: 1.8rem;
  float: left;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: normal;
  font-family: 'Times New Roman';
}
.header a label {
  font-size: 0.875rem;
  color: #B1F2EF;
  line-height: normal
}
.header-subnav {
  float: none;
  position: relative;
  text-align: center;
  font-family: 'Times New Roman';
  margin-bottom: 0px;
  display: inline-block;
}
.header-subnav li {
  float: none;
  display: inline-block;
}
.header-subnav li a {
  margin-top: 0.25rem;
  padding: 0.75rem 0.5rem 0.75rem;
  font-size: 0.875rem;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: normal;
}
.header-subnav li a.is-active {
  background: rgba(177, 242, 239, 0.7);
  color: #333;
}
.header-subnav li a:hover {
  background: rgba(177, 242, 239, 0.7);
  color: #333;
  transition: all .25s ease-in-out;
}
.content {
  padding: 1rem;
}
.grid-item {
  display: block;
  width: 250px;
  height: auto;
  padding: 0.35rem;
}
a img:hover {
  border: 1px solid grey;
}
.alert-box.success {
  background-color: #43AC6A;
  border-color: #3a945b;
}
.alert-box.failure {
  background-color: #f04124;
  border-color: #de2d0f;
}
.alert-box {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 1rem;
  padding: 0.5rem;
  position: relative;
  transition: opacity 100ms ease-out;
  color: #FFFFFF;
}
.alert-box .close {
  right: 0.5rem;
  background: inherit;
  color: #333333;
  font-size: 1.7rem;
  line-height: 1;
  margin-top: -0.95rem;
  opacity: 0.3;
  padding: 0 6px 4px;
  position: absolute;
  top: 50%;
}