.navbar {
  text-align: center;
  background: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
  border: none;
  line-height: 1;
}
a.navbar-brand {
  float: none;
  display: block;
  letter-spacing: 4px;
  font-family: 'Times New Roman';
  font-size: 35px;
  color: #3C4242 !important;
  padding: 15px 5px;
  height: auto;
}
a.navbar-brand.navbar-brand-small {
  font-size: 20px;
  padding: 5px 25px;
  text-decoration: none;
  display: inline-block;
}
.navbar-toggle {
  color: #F545B4;
  float: none;
}
.navbar-brand:hover {
  color: inherit;
}
.navbar-nav {
  float: none;
}
.nav li {
  display: inline-block;
  float: none;
}
.nav li > a {
  color: #3C4242;
  font-family: 'Times New Roman';
  letter-spacing: 4px;
  background: none !important;
  outline: none !important;
}
.nav li > a:hover {
  color: #F545B4 !important;
}
.nav li > a.active {
  color: #F545B4;
}
.grid {
  margin: 0 auto;
  position: relative;
  padding-top: 150px;
}
.grid-item {
  display: block;
  width: 350px;
  height: auto;
  padding: 0px;
  border: none;
  margin-bottom: 16px;
  visibility: hidden;
}
.grid-item:hover {
  opacity: 0.9;
  border: 1px solid #828282;
  border-radius: 0;
}
.modal-dialog {
  width: 95%;
  max-height: 90%;
  margin: 0.025rem, auto;
}
.carousel-item {
  visibility: hidden;
}
.carousel-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.modal-backdrop {
  opacity: 1 !important;
}
.modal-content {
  background-color: black;
}
.modal-content > button.close {
  position: absolute;
  font-size: 50px;
  top: -20px;
  right: 1.3%;
  color: #F545B4;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  opacity: 0.5;
}
.modal-content > button.close:hover {
  opacity: 1.0;
}
.carousel-control {
  width: 5%;
  visibility: hidden;
  background-image: none !important;
}
.carousel-control > span.glyphicon {
  color: #F545B4;
}
.btn-primary {
  background-color: #F545B4 !important;
  border-color: #F545B4 !important;
  outline-color: #F545B4 !important;
}
.btn-primary:hover {
  background-color: #B33283 !important;
}
.about {
  font-family: 'Helvetica-Light';
}
.pricing {
  font-family: 'Helvetica-Light';
}
.pricing h3 {
  font-family: 'Helvetica';
  text-transform: uppercase;
  text-align: center;
}
.pricing h4 {
  font-family: 'Helvetica';
  text-transform: uppercase;
}
.about h4 {
  font-family: 'Helvetica';
}
.headshot-img {
  width: 350px;
  display: block;
  margin: auto;
}