.header {
  text-align: center;
  background-color: #292c2f;
  background-size: cover;
  padding: 1rem;
}
.header .main-header .brand {
  color: #B1F2EF;
}

.main-header {
  margin-bottom: 0rem;
}

.header-subnav {
  float: none;
  position: relative;
  top: 1rem;
  text-align: center;
  margin-bottom: 0;
}
.header-subnav li {
  float: none;
  display: inline-block;
}
.header-subnav li a {
  padding: 0.9rem 1rem 0.75rem;
  font-size: 0.875rem;
  color: #fff;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
}
.header-subnav li a.is-active {
  background: rgba(177, 242, 239, 0.7);
  color: #333;
}
.header-subnav li a:hover {
  background: rgba(177, 242, 239, 0.7);
  color: #333;
  transition: all .25s ease-in-out;
}
.content {
  padding: 1rem;
}
.portfolio-item {
  padding: 2rem 1rem;
}
.alert-box.success {
  background-color: #43AC6A;
  border-color: #3a945b;
}
.alert-box.failure {
  background-color: #f04124;
  border-color: #de2d0f;
}
.alert-box {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 1rem;
  padding: 0.5rem;
  position: relative;
  transition: opacity 100ms ease-out;
  color: #FFFFFF;
}
.alert-box .close {
  right: 0.5rem;
  background: inherit;
  color: #333333;
  font-size: 1.7rem;
  line-height: 1;
  margin-top: -0.95rem;
  opacity: 0.3;
  padding: 0 6px 4px;
  position: absolute;
  top: 50%;
}