.about, .pricing, .contact {
  font-family: 'Helvetica-Light';
  font-size: 16px;
  padding-top: 20px;
}
.pricing h4 {
  font-family: 'Arial';
  font-size: 16px;
  font-weight: bold;
}
.about h4 {
  font-family: 'Arial';
  font-size: 16px;
  font-weight: bold;
}
.headshot-img {
  width: 350px;
  display: block;
  margin: auto;
}