.carousel-item {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}
.carousel-control-prev, .carousel-control-next {
  width: 5%;
}
.carousel-fade .carousel-inner .carousel-item {
  visibility: hidden;
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.carousel-control {
  width: 5%;
  visibility: hidden;
  background-image: none !important;
}
.carousel-control > span.glyphicon {
  color: #F545B4;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .carousel-item.next,
    .carousel-fade .carousel-inner > .carousel-item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .carousel-carousel-item.prev,
    .carousel-fade .carousel-inner > .carousel-item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .carousel-item.next.left,
    .carousel-fade .carousel-inner > .carousel-item.prev.right,
    .carousel-fade .carousel-inner > .carousel-item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
.carousel-inner > .carousel-item {
    -webkit-transition: 1.5s ease-in-out left;
    -moz-transition: 1.5s ease-in-out left;
    -o-transition: 1.5s ease-in-out left;
    transition: 1.5s ease-in-out left;
}