.about, .pricing, .contact, .landing {
  font-family: 'Helvetica-Light', 'sans-serif';
  font-size: 1rem;
  padding: 3rem 8rem;
  background-color: #ffffff;
  text-align: center;
  margin: auto;
}
.landing {
  font-size: 1.5rem;
  padding: 3rem 4rem;
}
.pricing > ul {
  text-align: justify;
}
.pricing h4, .about h4 {
  font-family: 'Arial';
  font-size: 1rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.about > p {
  margin-top: 2rem;
}
.btn-primary {
  background-color: #34b9d7 !important;
  border-color: #34b9d7 !important;
  outline-color: #34b9d7 !important;
  border-radius: 1.5rem;
  font-family: 'Helvetica Neue', 'Helvetica', 'sans-serif';
  padding: 0.3rem 0.9rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
}
.btn-primary:hover {
  background-color: #2da4bf !important;
}
.banner {
  height: 233px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  display: table;
  position: relative;
}
.my-container-fluid {
  background-color: #f0f0f0;
  padding: 0 !important;
  min-height: 100vh;
  padding-top: 60px !important; /* height of the navbar */
}
.brand {
  position: absolute;
  top: 44vh;
  z-index: 2;
  color: #ffffff;
  letter-spacing: 0.15rem;
  font-family: 'Helvetica Neue', 'Helvetica', 'sans-serif';
}
.brand > p {
  text-transform: uppercase;
}
.footer {
  background-color: #000000;
}