.flex-container-90 {
  /* Allow the content to grow but not shrink */
  flex-grow: 1;
  flex-shrink: 0;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
}
.about, .pricing, .contact {
  max-width: 1140px;
}
.text-content {
  font-family: 'Helvetica-Light', 'sans-serif';
  font-size: 1rem;
  margin: 3% 8%;
  text-align: center;
}
.row-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
.column-container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 5% 3% 0;

}
@media screen and (max-width: 991px) {
  .flex-container-90 {
    width: 100%;
  }
  .column-container {
    flex: 50%;
  }
}
.landing {
  font-size: 1.5rem;
  text-align: center;
}
.column-container > h4 {
  font-size: 1rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.column-container > ul {
  margin: 0;
  font-size: 0.9rem;
}
.about > p {
  margin-top: 2rem;
}
.btn-primary {
  background-color: #34b9d7 !important;
  border-color: #34b9d7 !important;
  outline-color: #34b9d7 !important;
  border-radius: 1.5rem;
  font-family: 'Helvetica Neue', 'Helvetica', 'sans-serif';
  padding: 0.3rem 0.9rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}
.btn-primary:hover {
  background-color: #2da4bf !important;
}
.banner {
  height: 233px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  display: table;
  position: relative;
}
main {
  /* make sure we use the full width but allow for more height */
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}
.brand {
  position: absolute;
  top: 44vh;
  z-index: 2;
  color: #ffffff;
  letter-spacing: 0.15rem;
  font-family: 'Times New Roman', 'sans-serif';
  font-size: 2.5rem;
  font-weight: 400;
}
@media screen and (max-width: 991px) {
  .brand {
    font-size: 2rem;
  }
}
.footer {
  text-align: center;
  font-family: 'Helvetica Neue', 'Helvetica', 'sans-serif';
  font-size: 1rem;
  font-style: italic;
  color: #777;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.footer > div {
  padding: 1rem 0;
}
.footer > div > a {
  padding: 0 1rem;
}
q {
  font-style: italic;
  text-align: center;
  display: inline-block;
}