.grid {
  max-width: 1818px;
  width: 100%;
  margin-top: 4%;
}
.grid-item {
  display: block;
  height: auto;
  border: none;
  visibility: hidden;
  max-width: 600px; /* actual image width */
}
.grid-item > img {
  max-width: 100%;
}
.grid-item > p {
  position: absolute;
  margin: 0;
  font-size: 1.5rem;
  left: 10%;
  bottom: 10%;
  color: #ffffff;
  font-family: 'Helvetica Neue', 'Helvetica', 'sans-serif';
}
.grid-item:hover {
  opacity: 0.8;
}
@media screen and (max-width: 991px) {
  .grid {
    padding-left: 3.5%;
    padding-right: 3.5%;
  }
  .grid-item {
    width: 46%;
    margin-bottom: 1%;
  }
  .gutter {
    width: 1%;
  }
}
@media screen and (min-width: 992px) and (max-width: 2041px) {
  .grid {
    padding-left: 4.5%;
    padding-right: 4.5%;
  }
  .grid-item {
    width: 30%;
    margin-bottom: 0.5%;
  }
  .gutter {
    width: 0.5%;
  }
}
@media screen and (min-width: 2042px) {
  .grid {
    padding-left: auto;
    padding-right: auto;
  }
  .grid-item {
    width: 600px; /* actual image width */
    margin-bottom: 9px;
  }
  .gutter {
    width: 9px;
  }
}