.navbar {
  text-align: center;
  background: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
  border: none;
  line-height: 1;
}
a.navbar-brand {
  float: none;
  display: block;
  letter-spacing: 4px;
  font-family: Trebuchet, sans-serif;
  font-size: 35px;
  color: #3C4242 !important;
  padding: 15px 5px;
  height: auto;
}
a.navbar-brand.navbar-brand-small {
  font-size: 20px;
  padding: 5px 25px;
  text-decoration: none;
  display: inline-block;
}
.navbar-toggle {
  color: #F545B4;
  float: none;
}
.navbar-brand:hover {
  color: inherit;
}
.navbar-nav {
  float: none;
}
.nav li {
  display: inline-block;
  float: none;
}
.nav li > a {
  color: #3C4242;
  font-family: Trebuchet, sans-serif;
  font-size: 12px;
  letter-spacing: 4px;
  background: none !important;
  outline: none !important;
  padding-top: 8px;
  padding-bottom: 8px;
}
.nav li > a:hover {
  color: #F545B4 !important;
}
.nav li > a.active {
  color: #F545B4;
}
.btn-primary {
  background-color: #F545B4 !important;
  border-color: #F545B4 !important;
  outline-color: #F545B4 !important;
}
.btn-primary:hover {
  background-color: #B33283 !important;
}